/* This button will be round, and have a blue background. */
.task-button{
    border-radius: 100%;
    border: 0;
    height: 42px;
    width: 42px;
    color: #fff;
    font-size: 1.3rem;
    background-color: #43a1e0;
    transition: easy-in-out 0.2s;
    transform: rotate(0);
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* This will make the button rotate when hovering over it. */
.task-button:hover{
    background-color: #3c90c8;
    transition: ease-in-out 0.2s;
    transform: rotate(220deg);
}
